{% extends 'events/base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}
    <style>
        body {
            background-image: url('static/HF169.png');
        }
    </style>

   <h2 class="welcome"> Welcome!</h2>

   {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="signout.html" class="btn btn-danger">Logout</a>
    {% else %}
      <a href="{% url 'signin' %}" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a> 
      <a href="signup.html" class="btn btn-success">Signup</a>
    {% endif %}
{% endblock %}

