<!-- The folllowing code is adapted from: https://www.youtube.com/watch?v=6WnL0VHtPag-->

{% extends 'events/base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}

<center class="HH">
    <style>
        body {
            background-image: url('static/HF169.png');
            background-attachment: fixed;
            background-size: cover; /* Optional: Adjust the background size as needed */
        }
    </style>

    <div class="content">
        <h2 class="welcome" className="WTitle"> Accounts</h2>
        {% if user.is_authenticated %}
            <c className="">Hi {{ user.username }}!</c>
            <br/><br/>
            <a href="signout" class="btn btn-danger">Logout</a>
            <br/>
        
        {% else %}
            <br/>
            <h4> You are currently not signed in.</h4>
            <h4> Please select one of the following options:</h4>
            <br/>
            <a href="signin/" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Sign In</a> 
            <a href="signup/" class="btn btn-primary">Sign Up</a>
        {% endif %}
    </div>
</center>




{% endblock %}

