<!-- events/additional_info.html -->
{% extends 'events/base.html' %}

{% block content %}

<div class="border-box-2">
  <center class="HH2">
    <style>
      body {
          background-image: url('../../static/HF169.png');
          background-attachment: fixed;
          background-size: cover;
      }
    </style>

    <h2 class="tester">Additional Information</h2>

    <form method="post" style="text-align: center;">
      {% csrf_token %}
      
      <!-- Include fields from your CustomUserCreationForm -->
      {{ custom_form.as_p }}
      
      <br/>
      
      <button type="submit" class="btn-lg btn-primary">Submit</button>
    </form>
    
  </center>
</div>

{% endblock %}
