{% extends 'events/base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events List</title>
    </head>

{% block content %}

    <center class="HH2">
        <style>
            body {
                background-image: url('static/HF169.png');
                background-attachment: fixed;
                background-size: cover; /* Optional: Adjust the background size as needed */
            }
        </style>

        <h2>EVENTS</h2>

        <a>MA LETTUCE</a>

        <body>
            <h1>Events List</h1>
        
            <ul class="wasdada">        
                <h1>{{ events.event_id }}</h1>
                {% for e in events %}
                    <h1>{{ e.event_id }}</h1>
                    <p> {{ e.e_name }} </p>
                {% endfor %}
            </ul>
        </body>
        </html>
    </center>

{% endblock %}
