{% extends 'events/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"

{% block content %}

    <h1>Events</h1>
    <br/>

    {% for event in event_list %}

    <div class="card">
        <div class="card-header">
          {{ event }}
        </div>
        <div class="card-body">
          <h6 class="card-title">Venue: {{ event.venue }}</h6>
          <p class="card-text">

            <ul>
                <strong>Date:</strong> {{ event.event_date }}<br/>
                <strong>Venue Site:</strong> {{ event.venue.web }}<br/>
                <strong>Manager:</strong> {{ event.manager }}<br/>
                <strong>Description:</strong> {{ event.description }}<br/>
                <strong>Attendees: </strong>
                {% for user in event.attendees.all %}
                    {{ user }},
                {% endfor %}
            </ul>
          </p>
        </div>
      </div>
    <br/>
    {% endfor %}


{% endblock %}
