{% extends 'events/base.html' %}
<!DOCTYPE html>

{% block content %}

    <center class="HH2">
        <style>
            body {
                background-image: url('static/HF169.png');
                background-attachment: fixed;
                background-size: cover; /* Optional: Adjust the background size as needed */
            }
        </style>

        <h2>EVENTS</h2>

        <body>
            <ul class="wasdada">        
                {% for e in events %}
                    <h1>{{ e.event_id }}</h1>
                    <p> {{ e.e_name }} </p>
                {% endfor %}
            </ul>
        </body>
x    </center>

{% endblock %}



