{% extends 'events/base.html' %}
<!DOCTYPE html>

{% block content %}

    <center class="HH2">
        <style>
            body {
                background-image: url('../../static/HF169.png');
                background-attachment: fixed;
                background-size: cover; /* Optional: Adjust the background size as needed */
            }
            
            .center-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        
        <h2>Find Guests</h2><br/>
    </center>
  
    <!-- Make This Search Feature Actually Work -->
    <div class="center-container">
    <form method="get" action="{% url 'guests' %}">
        <input class="dd_text" type="text" name="q" placeholder="Search...">
        <select class="dd_test" name="search_field">
            <option value="event_name">Event Name</option>
            <option value="venue">Venue</option>
            <option value="manager">Event Manager</option>
            <option value="category">Category</option>
        </select>
        <button class="btn-lg btn-primary" type="submit">Search</button>
    </form>
    </div>
  
    <br/>
  
    <!-- For Loop for All Events -->
    {% for g in guests %}
    <div class="card">
        <div class="card-header">
            {{ g.g_name }}
        </div>
        <div class="card-body">
            <h6 class="card-title"><b>Type: </b> {{ g.g_type }} </h6>
            <p class="card-text">
                <ul>
                    <strong>Description:</strong> {{ g.g_info }} <br/>
                    <strong>Events:</strong>
                    {% for has_guests in g.hasguests_set.all %}
                        {{ has_guests.event.e_name }},
                    {% endfor %}
                </ul>
                <h6 class="s_events_id"> Guest ID: {{ g.guest_id }} </h6>
            </p>
        </div>
    </div>
    <br/>
{% endfor %}

  

{% endblock %}



