{% extends 'events/base.html' %}

{% block content %}
<!-- <img id="bgImg" src="static/HH2.png" alt="my image"/> -->

    <center class="HH">
        <style>
            body {
                background-image: url('static/HF169.png');
            }
        </style>
        
        <div class="content">
            <br/>
            <h2>Welcome To:</h2>
            <h1>HappenHarbor</h1>
            <h4>Your Modern MySQL Driven Social Event Platform</h4>
            <a href="#">Find Events</a>
        </div>
    </center>

{% endblock %}
