{% extends 'events/base.html' %}

{% block title %}Login{% endblock %}
  
{% block content %}
<style>
  body {
      background-image: url('../../static/HF169.png');
      background-attachment: fixed;
      background-size: cover; /* Optional: Adjust the background size as needed */
  }
</style>

  <center class="HH2">
    <h2>Welcome!</h2>
    {% if user.is_authenticated %}
        <h4>Hi {{ user.username }}!</h4>
        <h4>SHOULDNT GO HERE< REMEMBE TO DELETE!</h4>
        <a href="/signout" class="btn btn-danger">Logout</a>
      {% else %}
        <p>wasdasdasdsa</p>
        <a href="/signin" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a> 
        <a href="/signup" class="btn btn-success">Signup</a>
      {% endif %}
  </center>


{% endblock %}