<!-- The folllowing code is adapted from: https://www.youtube.com/watch?v=6WnL0VHtPag-->

{% extends 'events/base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}
<div class="border-box">
  <center class="HH2">
    <h2>Sign In</h2> {{ msg }}
    <br/>
    <style>
      body {
          background-image: url('static/HF169.png');
          background-attachment: fixed;
          background-size: cover; /* Optional: Adjust the background size as needed */
      }
  </style>
  
    <!-- Sign In Form-->
    <form method="post">
      {% csrf_token %}
      
      <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username:</label>
          <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" style="width: 250px;" required>
      </div>

      <br/>
  
      <div class="form-group">
          <label for="{{ form.password.id_for_label }}">Password:</label>
          <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" style="width: 250px;" required>
      </div>
  
      <br/>

      <button type="submit" class="btn-lg btn-primary">Sign In</button>
    </form>
  </center>
</div>

{% endblock %}