{% extends 'events/base.html' %}

{% block content %}

<div class="border-box-2">
  <center class="HH2">
    <style>
      body {
        background-image: url('../../static/HF169.png');
        background-attachment: fixed;
        background-size: cover; /* Optional: Adjust the background size as needed */
      }
    </style>

    <h2 class="tester">Sign up</h2>

    <form method="post" style="text-align: center;">
      {% csrf_token %}
    
      <div class="form-group">
        <label for="{{ custom_form.username.id_for_label }}">Username:</label>
        <input type="text" name="{{ custom_form.username.name }}" id="{{ custom_form.username.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in custom_form.username.errors %}
          <p style="color: red; font-size: 16px"><br/>Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ custom_form.f_name.id_for_label }}">First Name:</label>
        <input type="text" name="{{ custom_form.f_name.name }}" id="{{ custom_form.f_name.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in custom_form.f_name.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ custom_form.l_name.id_for_label }}">Last Name:</label>
        <input type="text" name="{{ custom_form.l_name.name }}" id="{{ custom_form.l_name.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in custom_form.l_name.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ custom_form.email.id_for_label }}">Email:</label>
        <input type="email" name="{{ custom_form.email.name }}" id="{{ custom_form.email.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in custom_form.email.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ custom_form.birthday.id_for_label }}">Birthday:</label>
        <input type="date" name="{{ custom_form.birthday.name }}" id="{{ custom_form.birthday.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in custom_form.birthday.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ auth_form.password1.id_for_label }}">Password:</label>
        <input type="password" name="{{ auth_form.password1.name }}" id="{{ auth_form.password1.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in auth_form.password1.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <div class="form-group">
        <label for="{{ auth_form.password2.id_for_label }}">Confirm Password:</label>
        <input type="password" name="{{ auth_form.password2.name }}" id="{{ auth_form.password2.id_for_label }}" class="form-control" style="width: 250px; margin: 0 auto;" required>
        {% for error in auth_form.password2.errors %}
          <p style="color: red; font-size: 16px">Error: {{ error }}</p>
        {% endfor %}
      </div>
    
      <br/>
    
      <button type="submit" class="btn-lg btn-primary">Sign Up</button>
    </form>
    
  </center>
</div>

{% endblock %}
