<!-- The folllowing code is adapted from: https://www.youtube.com/watch?v=6WnL0VHtPag-->

{% extends 'events/base.html' %}
  
{% block title %}Login{% endblock %}
  
{% block content %}
  <center class="HH2">
    <h2>Login</h2> {{ msg }}
    <br/>
    <style>
      body {
          background-image: url('../../static/HF169.png');
      }
    </style>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </center>
{% endblock %}