<!-- The following code is adapted from: https://www.youtube.com/watch?v=6WnL0VHtPag-->

{% extends 'events/base.html' %}

{% block content %}

  <div class="HH2">
  <center class="HH2">
    <style>
        body {
            background-image: url('../../static/HF169.png');
        }
    </style>

    <h2 className="tester">Sign up</h2>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red; font-size: 16px">Error: {{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <b>
        <button type="submit" className="button" class="btn btn-success">Sign up</button>
      </b>
    </form>
  </center>
  </div>

{% endblock %}