{% extends 'events/base.html' %}
<!DOCTYPE html>

{% block content %}
    <center class="HH2">
        <div class="center-container">
            <h2>Find Venues</h2><br/>
        </div>
    </center>
  
    <div class="center-container">
        <a href="{% url 'add_venues' %}" class="btn-lg btn-primary mx-1">Add Venue</a>
        <form method="get" action="{% url 'venues' %}">
            <input class="dd_text" type="text" name="q" placeholder="Search...">
            <select class="dd_test" name="search_field">
                <option value="l_name">Venue Name</option>
                <option value="city">City</option>
                <option value="province_state">Province/State</option>
                <option value="country">Country</option>
                <option value="events">Events</option>
            </select>
            <button class="btn-lg btn-primary" type="submit">Search</button>
        </form>
    </div>
    <br/>
  
    {% for venue in venues %}
        <div class="card">
            <div class="card-header">
                {{ venue.l_name }}
            </div>
            <div class="card-body">
                <h6 class="card-title"><b>Owner:</b> {{ venue.l_owner.f_name }}</h6>
                <p class="card-text">
                    <ul>
                        <strong>Address:</strong> {{ venue.address }} <br/>
                        <strong>City:</strong> {{ venue.city }} <br/>
                        <strong>Province/State:</strong> {{ venue.province_state }} <br/>
                        <strong>Country:</strong> {{ venue.country }} <br/>
                        <strong>Events:</strong>
                        {% for is_at in venue.isat_set.all %}
                            {{ is_at.event.e_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock %}
