body {
    background-color: #17141f;
}

h1 {
    color: #ffffffc9;
}

.card {
    background-color: #272234;
}



.HTMLCal {
    color: #ffffffc9;
}

nav {
    background-color: aqua;
    color:aqua
}