/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
  
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #17141f;
}
  
.HH2 {
  color:white;
  text-shadow: black 1px 0 10px;
}

.HH2 h2 {
  color:#fa9dff;
  font-size: 40px;
  transition: 0.8s;
}
.HH2 h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.8s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
  }
  
.text-muted {
    font-size: small;
    text-align: center;
    color:white;
}
  
.HTMLCal {
    color:white;
}
  
.content {
    text-align: center;
}
  
.content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.8s;
  }
  
.content h1:hover{
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    transition: 0.8s;
  }
  
.content h2{
    font-size: 40px;
    color: #fa9dff;
    font-weight: 600;
    transition: 0.8s;
}

.content h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.8s;
}

.content h4{
font-size: 20px;
/* color: #a60fae; */
/* -webkit-text-stroke: 1px #b666ba; */
color: #ffffff;
font-weight: 500;
transition: 0.8s;
}

.content h3{
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.8s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.8s;
}
.content a:hover{
    color: #a60fae;
    border: 2px solid #a60fae;
    transition: 0.8s;
}

#bgImg {
  position: relative;
  top: -2px;;
  width: max-content ;
  height: max-content;
}

nav {
  position: sticky;
}

.card h1{
  background-color: green;
  color: #ffffffc9;
}
  
.card-header {
    color: #ffffffc9;
}

.welcome h2 {
  color: #ffffffc9;
}

.button {
  color:#a60fae;
}  

.HH2 {
  color: #fff;
  font-size: 20px;}

.content c {
  color:white;
  font-size: 20px;
  text-shadow: black 1px 0 10px;
}

.content b {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px 40px;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.8s;
}
.content b:hover{
  color: #a60fae;
  border: 2px solid #a60fae;
  transition: 0.8s;
}

tester {
  color: #fff;
  font-size: 20px;}
  
    /* Page-based CSS
    -------------------------------------------------- */
    
    body > .container {
      padding: 10px 15px 0;
    }
    
    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    
    code {
      font-size: 80%;
    }
  