/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
  
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #17141f;
}
  

.border-box {
  border: 2px solid #fa9dff;
  box-shadow: black 1px 0 10px;
  width: 450px;
  height: 500px;
  margin: auto; /* Center horizontally */
  margin-top: 60px; /* Adjust top margin for vertical centering, consider the height of your navbar */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-box-2 {
  border: 2px solid #fa9dff;
  box-shadow: black 1px 0 10px;
  width: 450px;
  height: 600px;
  margin: auto; /* Center horizontally */
  margin-top: 60px; /* Adjust top margin for vertical centering, consider the height of your navbar */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.centerboi {
  font-size: 12px;
  text-align: center;
}

.HH2 {
  color:white;
  text-shadow: black 1px 0 10px;
  text-align: center;
}

/* .HH2 {
  color: #fff;
  font-size: 20px;} */

.form-control {
  width: 250px;
}

.HH2 h2 {
  color:#fa9dff;
  font-size: 40px;
  transition: 0.8s;
}
.HH2 h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.8s;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #ba6fc3 !important;
  border: 10px;
  color:white;
  font-weight: 500;
  box-shadow: black 1px 0 10px;
  transition: 0.8s;
}

.btn-primary:hover {
  background-color: transparent !important;
  transition: 0.8s;
  color: white;
  border: 2px solid #fff; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
  }
  
.text-muted {
    font-size: small;
    text-align: center;
    color:white;
}
  
.HTMLCal {
    color:white;
}
  
.content {
    text-align: center;
}
  
.content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.8s;
  } .content h1:hover{
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
    transition: 0.8s;
  }
  
.content h2{
    font-size: 40px;
    color: #fa9dff;
    font-weight: 600;
    transition: 0.8s;
}

.content h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: 0.8s;
}

.content h5{
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.8s;
  }

.content h4{
font-size: 20px;
color: #ffffff;
font-weight: 500;
transition: 0.8s;
}

.content h3{
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.8s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.8s;
}
.content a:hover{
    color: #a60fae;
    border: 2px solid #a60fae;
    transition: 0.8s;
}

#bgImg {
  position: relative;
  top: -2px;;
  width: max-content ;
  height: max-content;
}

nav {
  position: sticky;
}

/* .card h1{
  color: #ffffffc9;
  font-size: 32px;
} */
  
.card-header {
    color: #ffffffc9;
    background-color: #468bb3;
    font-size: 24px;
    font-weight: 600;
}

.card-body {
  /* background-color: rgba(166, 15, 174, 0.3); */
  /* background-color: #386f83; */
  background-color: #b1c7d5;
  color:#17141f;
}

.welcome h2 {
  color: #ffffffc9;
}

.button {
  color:#a60fae;
}  


.content c {
  color:white;
  font-size: 20px;
  text-shadow: black 1px 0 10px;
}

.content b {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px 40px;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.8s;
}
.content b:hover{
  color: #a60fae;
  border: 2px solid #a60fae;
  transition: 0.8s;
}

tester {
  color: #fff;
  font-size: 20px;}
  
    /* Page-based CSS
    -------------------------------------------------- */
    
    body > .container {
      padding: 10px 15px 0;
    }
    
    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    
    code {
      font-size: 80%;
    }
  