/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #17141f;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #17141f;
}

.text-muted {
  font-size: small;
  text-align: center;
  color:white;
}

.content {
  text-align: center;
}

.content h1{
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content h2{
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}


.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 10px 40px;
  border-radius: 50px;
  margin-top: 20px;

}

h1 {
  color:green;
}


.card h1{
  background-color: green;
  color: #ffffffc9;
}



  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }
  