
body {
    /* background-color: #17141f; */
    background-color: green;
}

h1 {
    color: #ffffffc9;
}

.card-header {
    background-color: green;
    color: #ffffffc9;
}

.HTMLCal {
    color: #ffffffc9;
}

nav {
    background-color: aqua;
    color:aqua
}